@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: white;
}

#container {
    width: 1180px;
    height: 443px;
    background-color: black;
    position: relative;
    padding: 1px;
    box-sizing: border-box;

}

#hello_message {
    font-family: 'Rakkas';
    font-size: 10px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

header {
    text-align: center;
    padding-bottom: 73px;
}

header h1 {
    font-family: 'Jacques Francois Shadow';
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: -30px 0 10px 0;
}

.yellow-line, .green-line {
    height: 5px;
    width: 1178px;
    margin: 0 auto;
}

.yellow-line {
    background-color: white;
}

.green-line {
    background-color: white;
    position: absolute;
    bottom: 25px;
}

.white-line {
    background-color: white;
    width: 5px;
    height: 330px;
    position: absolute;
    top: 78px;
    left: 272px;
}


#about {
    position: absolute;
    top: 123px;
    left: 85px;
}

#about h2 {
    font-family: 'Rakkas';
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin: 0;
}

#about p {
    font-family: 'Rakkas';
    font-size: 19px;
    color: white;
    margin: 10px 15px 0 -70px;
    width: 242px;
    height: 73px;
    text-align: justify;
}

#led-controls {
    position: absolute;
    top: 120px;
    left: 300px;
}

.led-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 10px;
}


.led-control {
    width: 170px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.led-control h3 {
    font-family: 'Rakkas';
    font-size: 40px;
    color: black;
    margin: 0 0 0 -40px;
}

.led-control p {
    font-family: 'Rakkas';
    font-size: 20px;
    color: black;
    margin: -5px 0 0 -40px;
}

.led-toggle {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 16px;
    margin: -23px -70px 23px 0;
}

.led-toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f0e0e4d;
    /*transition: .4s;*/
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(100%);
}

.light-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 30px;
    margin: -75px 0 0 65px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-family: 'Rakkas';
    font-size: 15px;
    color: white;
}

.footer-text.left {
    margin-left: 10px;
}

.footer-text.right {
    margin-right: 10px;
}